<div id="sidebar">
  <div class="menu">
    <ul class="main_nav_list">
      <li class="main_nav_item grey_nav" routerLinkActive="active-link">
        <i class="zmdi zmdi-balance-wallet"></i>
        <a class="font-med" (click)="toggleMenu($event)" routerLink='/new-transaction'>Плати</a>
        <!-- <i class="zmdi zmdi-file-plus after-icon"></i> -->
        <ul class="dropdown closeNav">
          <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med"  routerLink='/new-transaction' >	&#8226; Нов превод</a></li>
          <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med" >	&#8226; Битови сметки</a></li>
          <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med" >	&#8226; Периодични плащания</a></li>
          <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med" >	&#8226; История на плащанията</a></li>
          <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med" >	&#8226; Шаблони</a></li>
        </ul>
      </li>
      <li class="main_nav_item" routerLinkActive="active-link">
        <i class="zmdi zmdi-card"></i>
        <a class="font-med" (click)="toggleMenu($event)" routerLink='/accounts'>Сметки и карти</a>
        <ul *ngIf="openMenu_smetki" class="dropdown openNav" >
          <li class="subMenu" routerLinkActive="active-link-sub"><a routerLink='/accounts' class="font-med">	&#8226; Сметки</a></li>
          <li class="subMenu" routerLinkActive="active-link-sub"><a routerLink='/cards' class="font-med" >	&#8226; Карти</a></li>
        </ul>
      </li>
      <li class="main_nav_item" routerLinkActive="active-link">
        <i class="zmdi zmdi-shopping-cart"></i>
        <a routerLink='/credits' class="font-med" >Кредити</a>

      </li>
      <li class="main_nav_item" routerLinkActive="active-link">
          <i class="zmdi zmdi-card"></i>
          <a class="font-med" (click)="toggleMenu($event)" routerLink='/portfolio'>Спестявания и инвестиции</a>
          <ul class="dropdown closeNav" >
            <li class="subMenu" routerLinkActive="active-link-sub"><a routerLink='/portfolio' class="font-med">	&#8226; Портфолио</a></li>
            <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med" >	&#8226; Депозити</a></li>
            <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med" >	&#8226; Pioneer</a></li>
            <li class="subMenu" routerLinkActive="active-link-sub"><a class="font-med" >	&#8226; Инвестиции и пазари</a></li>
          </ul>
        </li>
    </ul>

  </div>
  <div class="side-footer">
    <i class="zmdi zmdi-phone-in-talk zmdi-hc-1g"></i><div class="side-footer-divider"></div>
    <i class="zmdi zmdi-pin"></i><div class="side-footer-divider"></div>
    <i class="zmdi zmdi-bug"></i><div class="side-footer-divider"></div>
    <i class="zmdi zmdi-file-text"></i>
  </div>
</div>


