#app-container {
  max-width: 1366px;
  min-width: 956px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 273px 1fr;
  grid-template-areas: 
    "header      header"
    "sidebar     content"
    "side-footer footer"
}
#header {
  grid-area: header;
}
#sidebar {
  grid-area: sidebar;
}
#content {
  grid-area: content;
}
#side-footer {
  grid-area: side-footer;
}
#footer {
  grid-area: footer;
}
/* 
app-sidebar:after {
  display: block;
  content: '';
  clear: both;
} */

/* .content {
  margin: 0 0 0 273px;
} */
