.container {
  /* max-width: 95%; */
  /* margin: 17px 25px 0 20px; */
  align-self: baseline;
}

.container-list {
  width: 350px;
}

table {
  width: 100%;
  color: grey;
  background-color: #f3f9fa;
}

/* .mat-column-Date, .mat-column-Hour, .mat-column-Currency, .mat-column-Value  */
.column-s {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 7% !important;
}

/* .mat-column-OtherSide, .mat-column-Reason  */
.column-m {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
}

/* .mat-column-Account */
.column-l {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
}

.column_list_l {
  flex: 0 0 50% !important;
  width: 50% !important;
}

.column_list_s {
  flex: 0 0 27% !important;
  width: 15% !important;
}

.mat-column-Date,
.mat-column-Account,
.mat-column-OtherSide,
.mat-column-Value {
  color: rgb(104, 104, 104);
}

.mat-column-Hour,
.mat-column-Reason,
.mat-column-Currency,
.mat-column-Value {
  color: rgb(173, 173, 173);
}

.trans_num {
  color: rgb(102, 102, 102);
  font-weight: 900;
}

.mat-header-cell {
  color: rgb(173, 173, 173);
  font-size: 14px !important;
}

.val_border_color {
  border-right: 4px solid red;
  position: relative;
}

.table_bottom {
  background-color: white;
  height: 45px;
  width: 100%;
  font-size: 11px;
  color: #46adc6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide_headers {
  display: none
}

